<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verbalyst</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"  rel="stylesheet" />
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<section class="">



<nav class="top border-gray-200 bg-cyan-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="./index.html" class="logoAndTitle flex items-center">
        <img src="../static/img/logo.svg" class="h-8 mr-3" alt="Verbalyst Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap bg-gradient-to-l from-cyan-600 via-cyan-400 to-cyan-100
        inline-block text-transparent bg-clip-text">Verbalyst</span>
    </a>
    <button data-collapse-toggle="navbar-hamburger" type="button" class="inline-flex items-center justify-center p-2 w-10 h-10 ml-3 text-sm text-gray-100 rounded-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-hamburger">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full" id="navbar-hamburger">
      <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-000">
        <li>
          <a href="./index.html" class="block py-2 pl-3 pr-4 text-white hover:bg-cyan-300 rounded" aria-current="page">Home</a>
        </li>
        <li>
          <a href="./stats.html" class="block py-2 pl-3 pr-4 text-white rounded bg-cyan-600">Your Stats</a>
        </li>
        <li>
          <a href="./inspiration.html" class="block py-2 pl-3 pr-4 text-white rounded hover:bg-cyan-400">Inspiration</a>
        </li>
        <li>
          <a href="./exercises.html" class="block py-2 pl-3 pr-4 text-white rounded hover:bg-cyan-500">Speech Exercises</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
    const transcriptionResult = document.getElementById('transcriptionResult');
    const queryParams = new URLSearchParams(window.location.search);
    const transcription = queryParams.get('transcription');
    transcriptionResult.textContent = transcription;
    </script>
 <div class="text-center text-2xl bg-grey-200">   
  
  <div class="response bg-[url('https://cdn.discordapp.com/attachments/1143381987680329728/1145217224756445204/peepeepoologo7.png')]
  bg-cover
  bg-no-repeat
  bg-center">
    <!-- {{ response_html | safe }} -->
    <h1 class="answer">Here's what you said:</h1>
    <p class="answer">{{ transcription_result }}</p>
    <br><br><br>
    <h1 class="answer">AI Response: </h1><p class="answer">{{ response_html }}</p>
    <br class="bg-cyan-200"></br>
  </div>
  
<div class="bg-cyan-200 pt-5">
    <h1 class="text-4xl font-extrabold">YOUR STATS:</h1>
    <hr class="py-5"/>
    <p class="text-2xl"># of Recordings: 6</p>
    <!-- <span id="recordingNumber">0</span> -->
    <div class="mt-5 p-5 flex justify-around">
    <div class="inline-block w-250">
    <canvas id="lineChart"></canvas>
    <p>You've been steadily improving your speech!</p>
    </div>
    <div class="inline-block w-250">
    <canvas id="barChart"></canvas>
    <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Keep working on your stutters! &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</p>
    </div>
    </div>
  </div>
 </div>
 <!-- Footer -->
 <footer class="footer w-full
 relative
 overflow-hidden
 block
 z-10
 
 bg-[url('https://cdn.discordapp.com/attachments/1143381987680329728/1145217224756445204/peepeepoologo7.png')]
 bg-cover
 bg-no-repeat
 bg-center
 
 before:content-['']
 before:absolute
 before:inset-0
 before:block
 before:bg-gradient-to-t
 before:from-gray-800
 before:to-transparent 
 before:z-[-5]">
   <div class="footer1">
     <img class="socialMedias" src="https://cdn.discordapp.com/attachments/1143381987680329728/1145209882333679676/peepeepoologo6.png"/>
     <p class="names font-medium">Frederick Chen, Enoch He, Saivenkat Jilla &nbsp &nbsp &nbsp &nbsp | &nbsp &nbsp &nbsp &nbsp ask@verbalyst.com</p>
   </div>
 </footer>

</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="../static/index.js" charset="UTF-8"></script>
    <script>
    // Get the canvas element
  //  Chart.defaults.global.defaultFontFamily = 'Inter';
 //   Chart.defaults.global.defaultFontColor = '#164e63';
    
    var ctxLine = document.getElementById('lineChart').getContext('2d');
    var ctxBar = document.getElementById('barChart').getContext('2d');

        // Define your data for line chart
 // Define your data for line chart
var dataLine = {
    labels: ['1', '2', '3', '4', '5', '6'],
    datasets: [{
        label: 'Total Speech Impediments',
        backgroundColor: '#0891b2',
        borderColor: '#155e75',
        data: [8, 7, 5, 6, 4, 4],
        hoverBorderWidth: 4,
        hoverBorderColor: '#083344',
        fill: false
    }]
};

var myLineChart = new Chart(ctxLine, {
    type: 'line',
    data: dataLine,
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Your speech patterns over time',
                font: {
                    family: 'Inter',
                    size: 25,
                    weight: '400'
                },
                color: '#083344'
            },
            legend: {
                display: false
            },
        },
        scales: {
            y: {
                ticks: {
                    color: 'black'
                },
                beginAtZero: true
            },
            x: {
                ticks: {
                    color: 'black'
                },
                title: {
                    font: {
                        family: 'Inter'
                    }
                }
            }
        }
    }
});


        // Define your data for bar chart
        let myBarChart = new Chart(ctxBar, {
        type: 'bar',
        data: {
        labels: ['Stutters', 'Filler Words', 'Other'],
        datasets: [{
            data: [15, 3, 5],
            backgroundColor: '#0891b2',
            borderWidth: 2,
            borderColor: '#155e75',
            hoverBorderWidth: 4,
            hoverBorderColor: '#083344'
        }]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'A breakdown on your speech patterns',
                font: {
                    family: 'Inter',
                    size: 25,
                    weight: '400'
                },
                color: '#083344'
            },
            legend: {
                display: false
            },
        },
        scales: {
            y: {
                ticks: {
                    color: 'black'
                },
                beginAtZero: true
            },
            x: {
                ticks: {
                    color: 'black'
                },
                title: {
                    font: {
                        family: 'Inter'
                    }
                }
            }
        }
    }
});


//         let myBarChart = new Chart(ctxBar, {
//     type: 'bar',
//     data: {
//         labels: ['Lisps', 'Stutters', 'Repitition', 'Too Fast', 'Other'],
//         datasets: [{
//             data: [5, 15, 4, 3, 15],
//             backgroundColor: '#0891b2',
//             borderWidth: 2,
//             borderColor: '#155e75',
//             hoverBorderWidth: 4,
//             hoverBorderColor: '#083344'
//         }]
//     },
//     options: {
//         plugins: {
//             title: {
//                 display: true,
//                 text: 'A breakdown on your speech patterns',
//                 font: {
//                     size: 25,
//                     color: '#083344'
//                 }
//             }
//         },
//         legend: {
//             display: false
//         }
//     }
// });



  //      let myBarChart = new Chart(ctxBar, {
        //   type: 'bar',
        //   data: {
        //     labels: ['Lisps', 'Stutters', 'Repitition', 'Too Fast', 'Other'],
        //     datasets: [{
        //       data: [5, 15, 4, 3, 15],
        //       backgroundColor: '#0891b2',
        //       borderWidth: 2,
        //       borderColor: '#155e75',
        //       hoverBorderWidth: 4,
        //       hoverBorderColor: '#083344'
        //     }]
        //   },
        //   options:{
        //     title:{
        //       display: true,
        //       text: 'A breakdown on your speech patterns'
        //     },
        //     legend:{
        //       display:false,
        //       position:'right',
        //       labels:{
        //         fontColor: '#000'
        //       }
        //     }
        //   }
        // })

  
        // Create the line chart
        var myLineChart = new Chart(ctxLine, {
            type: 'line',
            data: dataLine,
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

  </script>
  
    </body>

    </html>

 